*{
    padding: 0px;
    margin: 0px;
    font-family: century gothic;
}

background-transition{
    position: fixed;
    z-index: -1;
    top: 0px;
    left:0px;

}
 
.background-image{
    position: fixed;
    z-index: -1;
    background-image: url("../img/4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: background 2s;
    height: 100% ;
    width: 100%;
}

.container{
    width: 100%;
    height:100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    background-color: transparent;
}


.nav-bar-container{
    z-index: +1;
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: transparent;
    width: 100%;
    height: 120px;
    opacity: 0.9;
    color: whitesmoke;
    
}

.nav-left{
    width: 40%;
    padding: 40px;
    font-family: century gothic;
    font-size: 28px;
    font-weight: bold;
}
.nav-name a{
    color: whitesmoke;
    transition: color 0.5s;
}
.nav-name a:hover{
    text-decoration: none;
    color: brown;
    transition: color 0.5s;
}
.nav-name a: visited{
    color: whitesmoke;
}
.nav-right{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50%;
    font-family: century gothic;
    font-size: 20px;
    font-weight: bold;
}
.nav-links{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-flex: 1;
    position:fixed;
    right: 0px;
}

.nav-links-inner{
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 35px;   
}
.nav-links-inner a{
    color: whitesmoke;
    transition: color 0.5s;
}
.nav-links-inner a:hover{
    color:brown;
    transition: color 0.5s;
    text-decoration: none;
}
.share-bar-container{
    z-index: +1;
    position: fixed;
    top: 30%;
    right: 0px;
    padding: 30px;
}
.icon-link{
    padding: 5px;
    
}

.template-container{
    width: 100%;
    height: auto;
    position: absolute;
    top: 20%;
    left: 0px;
    color: white;
    
}
.quote-container{
    height: 565px;
}
.quote-envelope{
    height: 200px;
    width: 50%;
    background-color: black;
    background-blend-mode: lighten;
    position:absolute;
    top: 90px;
    left: 25%;
    padding: 50px;
    font-size: 30px;
}
.other-envelope{
    background-color: black;
    position: absolute;
    left: 20%;
    top: 16%;
    font-size: 25px;
    text-align: center;
}
.description-container{
    height: 720px;
    padding: 20px;    
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

.introduction-container{
    font-size: 26px;
    width: 50%;
    margin: 40px;
    margin-right: 0px;
    text-align: justify;
    padding: 120px;
}
.team-container{
    font-size: 16px;
    width: 40%;
    text-align: center;
    margin: 40px;
    padding: 60px;
}
.profile-image{
    border-radius: 50px;
}
.team-members{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
.member-image{
    margin: 15px;
}

.gallery-container{
    height: 720px;
}
.gallery-title{
    position:relative;
    top: 20%;
    width: 100%;
}
.gallery-main{
    width: 50%;
    position: relative;
    top: 20%;
    left: 25%;
}
.gallery-end-text{
    width: 100%;
    position: relative;
    top: 40%;
    font-family: century gothic;
    font-size: 20px;
    font-weight: bold;
    
}

.contact-container{
    width: 100%;
    text-align: center;
    font-size: 22px;
}
.contact-form{
    width: 50%;
    position:absolute;
    left: 25%;
    text-align: left;
}



.work-container{
    width: 100%;
    height: 100%;
}

.work-title{
    text-align: center;
    font-size: 28px;
}

.work-gallery{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
.work-gallery img{
    margin: 50px;
}