<div class="contact-container">
    <div class="contact-title">We would love to work with you.<br>If you have some innovative or challenging work for us fill the following details and we will get in touch with you: </div>
    <br>
    <div class="contact-form">
        <form class="form-group" ng-model="client" ng-submit="pushdetails(client)">
            <label>You Name/Name of the organization:</label>
            <input type="text" class="form-control" ng-model="client.name">
            <br>
            <label>Email Address:</label>
            <input type="email" class="form-control" ng-model="client.mail">
            <br>
            <label>Contact No.</label>
            <input type="number" class="form-control" ng-model="client.contact">
            <br>
            <label>Suitable hours for contact:</label>
            <label>Between</label>
            <input type="text" class="form-control" ng-model="client.starttime">
            <label>to</label>
            <input type="text" class="form-control" ng-model="client.endtime">
            <br>
            <button type="submit" class="btn btn-info">Submit Me!</button>
        </form>
    </div>
</div>