 <div class="quote-container">
    <div class="quote-envelope">
        " No amount of passion can overcome the lack of technical expertise. "<br> <p class="pull-right">- Unknown</p>
        <br>
        
    </div>
     <div class="other-envelope">And we, here at Desiigner Inc., provide you that technical expertise.</div> 
</div>
<div class="description-container">
    <div class="Introduction-container">
       <h2>Who Are We?</h2>
        <br>
        <p>We are group of fanatics who are totally passionate about designing graphics. It’s our passion for graphic designing that brought our team together and has worked for the past x years to deliver our clients only the best that they can get. </p>
    </div>
    <div class="team-container">
        <h1>Our Team</h1>
        <div class="team-head">
            <h3>Head</h3>
            <img src="img/profile.png" height="100px" width="80px" class="profile-image">
            <p>Ashish Somkuwar<br>Lead Graphics Desiigner,<br>at Desiigner</p>
        </div>
        <br>
        <h4>Members</h4>
        <div class="team-members">
            <div class="member-image">
                <img src="img/profile.png"  height="100px" width="80px" class="profile-image">
                <p>Team Member1,<br> Imagery Freak,<br>at Desiigner<br></p>
            </div>
            <div class="member-image">
                <img src="img/profile.png"  height="100px" width="80px"class="profile-image">
                <p>Team Member2,<br> Graphics Geek,<br>at Desiigner<br></p>
            </div>
            <div class="member-image">
                <img src="img/profile.png"  height="100px" width="80px"class="profile-image">
                <p>Team Member3,<br> Pattern matcher,<br>at Desiigner<br></p>
            </div>
        </div>
    </div>
    
</div>
<div id="gallery" class="gallery-container" ng-controller="CarouselDemoCtrl">
    <div class="gallery-title text-center"><h1>This is how peple think about our work!</h1></div><br>
 			<div class="gallery-main">
              <div style="height: 305px">
                <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                  <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" style="margin:auto;" width="800px" height="500px" class="img-rounded">
                    <div class="carousel-caption">
                      <h4>Designed for: {{slide.client}}</h4>
                      <p>{{slide.review}}</p>
                    </div>
                  </uib-slide>
                </uib-carousel>
              </div>
            </div>
    <div class="gallery-end-text text-center"> Wish to become our fans!<br> Work with us and get awed. <a href="#/contact">Here is how you can contact us</a></div>
</div>

