<div class="work-container">
    <div class="work-title">Want to have a look at what we are capable of!<br> Then Have a Look.</div>
    <div class="work-gallery" >
        <div ng-repeat="image in Images">
            <img src="img/{{image.src}}" width="200px" height="150px">
        </div>
    </div>
</div>